@import "flex-grid.css";

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #4d342f;
    gap: 35em;
}

h1 {
    color: #ecc5b6;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #ecc5b6;
    font-size: 25px;
}

main {
    display: grid;
    /*grid-template-areas:*/
    /*    ".card_row_1 .card_row_1 .card_row_1 aside"*/
    /*    ".card_row_2 .card_row_2_wide .card_row_2 aside"*/
    /*    ".card_row_4 .card_row_4 aside"*/
    /*    ".card_row_5 .row_5_column aside";*/
    grid-template:
            ".card_row_1 .card_row_1 .card_row_1 aside"
            ".card_row_2 .card_row_2_wide .card_row_2 aside"
            ".card_row_4 .card_row_4 .card_row_4 .card_row_4 aside"
            ".card_row_5 .card_row_5 .card_row_5 .row_5_column aside";
}




